# .env file
# Application Environment
ENVIRONMENT=development

# .env.<stage> file
# API Service URLs
SEMANTIC_CHECKING_SERVICE_URL=http://example-analysis-service.com/api
AUTH_SERVICE_URL=http://example-notification-service.com/api

# Security Settings
API_KEY=your_api_key_here
SECRET_KEY=your_secret_key_here