# SEMANTIC_CHECKING_SERVICE_URL=http://example-analysis-service.com/api
SELF_URL="example.service.com"
AUTH_SERVICE_URL="example.service.com"

# WINDOWS or LINUX
PLATFORM=LINUX

#JWT Secret Key
JWT_SECRET=

#GCP Variables
GCS_CREDENTIALS_FILE="None or Path"
GCS_BUCKET_NAME="bucket-name"

FIRESTORE_DB_NAME="db-name"
FIRESTORE_COLLECTION_NAME="collection-name"

GCP_PROJECT_ID= "gcp-project-id"
GCP_TASK_QUEUE= "gcp-cloud-task-queue-name"
GCP_TASK_LOCATION= "asia-southeast2"
